// helpers
.hide {
  display: none;
}

.show {
  display: block;
}

.floatL {
  float: left;
}

.floatR {
  float: right;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

// natural box layout model to all elements, allows component change
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
